* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: "Pixelify Sans", sans-serif;
    background-color: #262626; 
    height: 100vh;
    display: grid;
    grid-template-columns: 1.9fr 1.1fr;
}

.area-background {
    background-image: url(images/background.png);
    background-size: cover;
}
.area-background .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.area-background img {
    width: 6rem;
    filter: drop-shadow(rgba(255, 255, 255, 0.35) 0px 5px 15px); 
}

.area-background h3 {
    color: white;
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
    font-size: 2rem;
}

.area-login {
    background-color: #262626; 
    padding: 3rem 4rem;
}

.container {
    border: .1rem ridge rgba(255, 255, 255, 0.8);
    border-radius: .6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}

.container h2 {
    color: #a21caf;
    font-weight: 600;
    font-size: 1.9rem;
}

.container input {
    border: .1rem inset rgb(219, 39, 119);
    background-color: #1d1a1d;
    border-radius: .3rem;
    font-family: "Pixelify Sans", 'sans-serif';
    font-size: 1.2rem;
    font-weight: 600;
    padding: .2rem;
    color: rgb(217, 217, 217);
}

.formulario-de-login {
    display: flex;
    flex-direction: column;
    padding: .2rem 1rem;
}

.formulario-de-login label {
    color: white;
    margin-top: 1.1rem;
    margin-bottom: .2rem;
    font-size: 1.15rem;
}

.container button {
    border: .14rem solid #c625d4;
    cursor: pointer;
    background-color: #282129;
    font-family: "Pixelify Sans", 'sans-serif';
    color: #c625d4;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem;
    margin: 1.5rem 0;
    width: 6.2rem;
    align-self: center;
    border-radius: .4rem;
    transition: transform 0.2s ease-in-out;
}

.container h4 {
    color: white;
    font-size: 1.2rem;
    margin: auto;
}

.container h4 span {
    color: #a21caf;
    cursor: pointer;
}

.container h4 a {
    text-decoration: none;
    color: #a21caf;
}

.container input:hover {
    background-color: #292329;
}

.container input:focus {
    border: .09rem solid rgba(219, 39, 119);
    outline: 0;
}

.container button:hover {
    transform: scale(1.03);
    transition: all 0.3s;
}

.container button:active {
    transform: scale(0.98);
    color: white;
    border: .13rem solid white;
}

.container h4 a:hover {
    color: #ce50d9;
}

@media (max-width: 1025px) {
    .area-login {
        padding: 1rem;
    }
    .container {
        padding: 1rem;
    }
}

@media (max-width: 520px) {
    body {
        display: block;
        background-image: url(images/background.png);
        background-size: cover;
        padding: 2rem;
    }
    .area-background {
        display: none;
    }
    .area-login {
        border-radius: .6rem;
        width: 100%;
        height: auto;
        padding: 0;
    }
    .container {
        height: auto;
        width: 100%;
    }
    .container h2 {
        font-size: 1.5rem;
    }
    .container button {
        margin: 1rem;
    }
    .formulario-de-login label {
        margin-top: .5rem;
    }
    .container h4 {
        margin: 0 1.5rem;
    }
}